<h1>Mes Restaurants</h1>

<%=link_to "Add Resto", new_restaurant_path%>

<% @restaurants.each do |resto| %>
<h3><%= resto.name %></h3>
<p><%= resto.address %></p>
<p> <%= "*" * resto.stars %> </p>
<%=link_to "allez voir", restaurant_path(resto) %>
<%=link_to "Delete", restaurant_path(resto), method: :delete %>
<% end %>
