<h1> <%= @restaurant.name %> </h1>
 <p> <%= @restaurant.address %> </p>
 <p><%= "*" * @restaurant.stars %> </p>

 <%=link_to "back to list", restaurants_index_path %>
<%=link_to "edit", edit_restaurant_path(@restaurant) %>
